app/code/local/Fiuze/Soapapi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
           <xsd:complexType name="catalogConfigurableProductCreateEntity">
                <xsd:sequence>
                    <xsd:element name="categories" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="websites" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="short_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="weight" type="xsd:string" minOccurs="0" />
                    <xsd:element name="status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="url_key" type="xsd:string" minOccurs="0" />
                    <xsd:element name="url_path" type="xsd:string" minOccurs="0" />
                    <xsd:element name="visibility" type="xsd:string" minOccurs="0" />
                    <xsd:element name="category_ids" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="website_ids" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="has_options" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gift_message_available" type="xsd:string" minOccurs="0" />
                    <xsd:element name="price" type="xsd:string" minOccurs="0" />
                    <xsd:element name="special_price" type="xsd:string" minOccurs="0" />
                    <xsd:element name="special_from_date" type="xsd:string" minOccurs="0" />
                    <xsd:element name="special_to_date" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tax_class_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="tier_price" type="typens:catalogProductTierPriceEntityArray" minOccurs="0" />
                    <xsd:element name="meta_title" type="xsd:string" minOccurs="0" />
                    <xsd:element name="meta_keyword" type="xsd:string" minOccurs="0" />
                    <xsd:element name="meta_description" type="xsd:string" minOccurs="0" />
                    <xsd:element name="custom_design" type="xsd:string" minOccurs="0" />
                    <xsd:element name="custom_layout_update" type="xsd:string" minOccurs="0" />
                    <xsd:element name="options_container" type="xsd:string" minOccurs="0" />
                    <xsd:element name="additional_attributes" type="typens:associativeArray" minOccurs="0" />
                    <xsd:element name="used_configurable_attributes" type="typens:ArrayOfString" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="catalogProductTypeConfigurableCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="set" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="sku" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productData" type="typens:catalogConfigurableProductCreateEntity" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="catalogProductTypeConfigurableCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="catalogProductTypeConfigurableAssignRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="operation" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="linkedIds" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="catalogProductTypeConfigurableAssignResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="catalogProductTypeConfigurableCreateRequest">
        <wsdl:part name="parameters" element="typens:catalogProductTypeConfigurableCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="catalogProductTypeConfigurableCreateResponse">
        <wsdl:part name="parameters" element="typens:catalogProductTypeConfigurableCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="catalogProductTypeConfigurableAssignRequest">
        <wsdl:part name="parameters" element="typens:catalogProductTypeConfigurableAssignRequestParam" />
    </wsdl:message>
    <wsdl:message name="catalogProductTypeConfigurableAssignResponse">
        <wsdl:part name="parameters" element="typens:catalogProductTypeConfigurableAssignResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="configurableProductLinkAssigned">
            <wsdl:documentation>Configurable Product Link Assign</wsdl:documentation>
            <wsdl:input message="typens:catalogProductTypeConfigurableAssignRequest" />
            <wsdl:output message="typens:catalogProductTypeConfigurableAssignResponse" />
        </wsdl:operation>
        <wsdl:operation name="configurableProductCreated">
            <wsdl:documentation>Configurable Product Create</wsdl:documentation>
            <wsdl:input message="typens:catalogProductTypeConfigurableCreateRequest" />
            <wsdl:output message="typens:catalogProductTypeConfigurableCreateResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="configurableProductLinkAssigned">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configurableProductCreated">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
